/node_modules
/node_modules/*
notes
.env
/frontend/node_modules/
/frontend/node_modules/
/frontend/src/jsx/components/Modals/test/images/sample.txt
/playground.js
frontend/src/jsx/components/Courses/CoursesMain-27Feb.js
frontend/src/jsx/layouts/nav/SideBar-new.js
frontend/src/jsx/components/Companies/hey.txt
node_modules
